<div class="dashboard-item">

    <div class="action-box">
      #{{tableId}}
    </div>

    <div class="content">
      <input type="text" [(ngModel)]="myInput">

      <p>{{myInput | myUpperCase }}</p>

      <select name="menu" id="menu" [ngModel]="currentSelection"
              (ngModelChange)="handleSelectionChange($event)">

        <option value="">Please select some item</option>
        <option *ngFor="let item of menu" [value]="item">{{item}}</option>

      </select>


      <button (click)="handleChangeStatus($event)">change Status</button>
    </div>

</div>
